ion-content {
  // position: relative;
  // box-sizing: border-box;

  // --background: #ffffff;
  // --color: #3880ff;
  // --keyboard-offset: 0px;
  // --offset-bottom: 0px;
  // --offset-top: 0px;
  // --padding-bottom: 0px;
  // --padding-end: 0px;
  // --padding-start: 0px;
  // --padding-top: 0px;

  .title {
    font-weight: 700;
    color: #555;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  .menus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
  }
}
