ion-content {
  --offset-bottom: 0px;
  --offset-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0.5rem;
  background-color: #0054e9;
  z-index: 10;
  height: 60px;
  ion-button {
    height: 60px;
    width: 60px;
    ion-icon {
      font-size: 2rem;
    }
  }
}
.card {
  width: 100%;
  background: #fff;
  padding: 0.2rem;
  position: relative;
  padding-bottom: 3rem;
  .image {
    width: 100%;
    ion-img {
      overflow: hidden;
    }
  }
  .block {
    margin-top: 0.2rem;
    padding: 1rem 0.5rem 1.5rem;
    background-color: #f5f5f5;
    border-radius: 3px;
    h1 {
      font-weight: 700;
      margin-bottom: 0.2rem;
      font-size: 1.4rem;
    }
    h2 {
      font-weight: 700;
      margin-bottom: 0.2rem;
      font-size: 1.1rem;
    }
    .rating-container,
    h5 {
      display: flex;
      gap: 5px;
      font-size: 1rem;
      font-weight: 500;
      align-items: center;
      ion-img {
        width: 15px;
        height: 15px;
      }
    }
    h5 {
      font-size: 0.8rem;
    }
  }
  .card-title {
    align-items: center;
    p {
      font-size: 1.2rem;
      font-weight: 700;
      color: #fe2c55;
      margin-bottom: 0.1rem;
      margin-top: 0.5rem;
      span {
        font-size: 1.2rem;
        margin-left: 0.2rem;
      }
    }
  }
  .desc {
    text-align: justify;
  }
  .menus {
    margin-top: 1rem;
    border-radius: 0.5rem;
    // background: #fff;
    // padding: 0.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2rem;
    .app-menu-card {
      border: 2px solid #ddd;
      border-radius: 0.5rem;
    }
  }
  .reviews {
    padding-bottom: 0.2rem;
    .reviews-header {
      margin-bottom: 1rem;
    }
    .review,
    .review2 {
      margin-top: 0.1rem;
      margin-left: -0.3rem;
      margin-right: -0.3rem;
      border-radius: 3px;
      padding: 0.5rem;
      background-color: #fff;
      .review-header {
        display: flex;
        justify-content: space-between;
        i {
          font-size: 0.8rem;
          opacity: 0.8;
        }
      }
      .review-content {
        text-align: justify;
      }
    }
    .review2 {
      background-color: #f5f5f5;
    }
  }
}
.btn {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  ion-button {
    --border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
