.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.5rem;
  background-color: #0054e9;
  z-index: 10;
  padding: 0.1rem 0.5rem;
  height: 60px;
  .title {
    margin: 0;
    font-weight: 700;
    color: #fff;
    font-size: 1.5rem;
  }
}
.menus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2rem;
}
.btn {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  ion-button {
    --border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
